doc/exampleFlow.txt
[{"id":"80246c13a319e2e5","type":"twin-bcrypt","z":"340cf49dd3ec90be","name":"","action":"encrypt","field":"payload","hash":"payload","rounds":10,"x":590,"y":700,"wires":[["cd0916f3b495fef8"]]},{"id":"72202704.a1fcd8","type":"inject","z":"340cf49dd3ec90be","name":"TestEncrypt","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"nitin","payloadType":"str","x":410,"y":700,"wires":[["80246c13a319e2e5"]]},{"id":"275eb907.2043c6","type":"inject","z":"340cf49dd3ec90be","name":"TestVerify","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"txt\":\"nitin\",\"hash\":\"$2a$10$qRSGacHdqubboVd22eVBheLcwLvxuEy7JAmMKoWsSWNdusaEqTq5.\"}","payloadType":"json","x":400,"y":760,"wires":[["8c68085135104228"]]},{"id":"8c68085135104228","type":"twin-bcrypt","z":"340cf49dd3ec90be","name":"","action":"verify","field":"payload.txt","hash":"payload.hash","rounds":10,"x":590,"y":760,"wires":[["8bc4b93d7c45ad3c"]]},{"id":"cd0916f3b495fef8","type":"debug","z":"340cf49dd3ec90be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":700,"wires":[]},{"id":"8bc4b93d7c45ad3c","type":"debug","z":"340cf49dd3ec90be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":760,"wires":[]}]
